<li><h4>{{article.title}}</h4> <h5>{{article.author}}</h5></li>
  <p>{{article.body}}</p>
  {{#if isImageShowing}}
    <img src={{article.image}} alt={{article.title}} {{action 'imageHide'}}>
  {{else}}
    <button {{action 'imageShow'}}>Show Image</button>
  {{/if}}
  {{update-article article="article" update="update"}}
  <br>
  <br>
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect"{{action 'delete' article}}>
      <i class="material-icons">remove</i>
    </button>
